{% extends "base.html" %}
{% block content %}
<table class="config_table">
  <tbody>
    <tr>
      <td><a href="/view/buildings/all/">Buildings</a></td>
      <td>Contain rooms, the highest level of location organization.</td>
    </tr>
    <tr>
      <td><a href="/view/domains/all/">Domains</a></td>
      <td>Typically a DNS domain, such as example.com.</td>
    </tr>
    <tr>
      <td><a href="/view/hardware/all/">Hardware</a></td>
      <td>The hardware model of a device, such as Apple Xserve.</td>
    </tr>
    <tr>
      <td><a href="/view/orgs/all/">Organizations</a></td>
      <td>Customers, suppliers, manufacturers.</td>
    </tr>
    <tr>
      <td><a href="/view/oses/all/">Operating Systems</a></td>
      <td>The operating system of a device, such as Solaris.</td>
    </tr>
    <tr>
      <td><a href="/view/roles/all/">Roles</a></td>
      <td>The primary function of a device, such as running a database.</td>
    </tr>
    <tr>
      <td><a href="/view/rooms/all/">Rooms</a></td>
      <td>Contain rows and racks, reside within buildings.</td>
    </tr>
    <tr>
      <td><a href="/view/services/all/">Service Levels</a></td>
      <td>The level of support you provide on the device.</td>
    </tr>
  </tbody>
</table>
{% endblock %}