{% extends "views/devices/devices.html" %}
{% block content %}
{% if device %}
  <table class="device_table">
    <thead class="">
      <tr>
        <td colspan="42">
          Devices
          <a href="/add/device/new/">
            <img src="/static/pictures/edit/add_circle.png" alt="Add Device" title="Add Device" class="edit_pic">
          </a>
          <a href="/add/device/copy/{{ device['id'] }}" title="Copy '{{ device['name'] }}'">
            <button class="copy_device_button">Copy Device</button>
          </a>
          <a href="/view/devices/" class="dev_buttons view_all_button" id="all_devices">
            <input type="button" name="view_all" value="View All">
          </a>
        </td>
      </tr>
    </thead>
    <tbody class="device_data">
      <tr>
        <td colspan="42">
          <p class="key">Name</p>
          {{ device["name"] }}
        </td>
      </tr>
      <tr>
        <td colspan="42">
          <p class="key">Location</p>
          {% if device["rack"] %}
            {{ device["rack"] }} [{{ device["pos"] }}] - {{ device["room"] }} in {{ device["building"] }}&nbsp;&nbsp;&nbsp;
            <a href="/view/racks/list/simple/?rack_list={{ device['rack_id'] }}&selected_dev={{ device['id'] }}">View in rack.</a>
          {% else %}
            unknown
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="key">Manufacturer</p>
          {{ device["maker"] }}
        </td>
        <td>
          <p class="key">Hardware Model (Size)</p>
          {{ device["hardware"] }} ({{ device["size"] }}U)
        </td>
      </tr>
      <tr>
        <td>
          <p class="key">Operating System</p>
          {{ device["os"] }}
        </td>
        <td>
          <p class="key">OS Licence Key</p>
          {% if device["licence"] %}
            {{ device["licence"] }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="key">Role (In service)</p>
          {{ device["role"] }}
          {% if device["in_service"] %}
            <input type="checkbox" name="service" value="" disabled checked>
          {% else %}
            <input type="checkbox" name="service" value="" disabled checked>
          {% endif %}
        </td>
        <td>
          <p class="key">Purchased (Age in Yrs.)</p>
          {% if device["purchased"] and device["age"] %}
            {{ device["purchased"] }} ({{ device ["age"] }})
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="key">Serial #</p>
          {% if device["serial"] %}
            {{ device["serial"] }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          <p class="key">Asset #</p>
          {% if device["asset"] %}
            {{ device["asset"] }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p class="key">Customer</p>
          {{ device["customer"] }}
        </td>
        <td>
          <p class="key">Service Level</p>
          {% if device["service"] %}
            {{ device["service"] }}
          {% else %}
            unknown
          {% endif %}
        </td>
      </tr>
      {% if device["notes"] %}
        <tr>
          <td colspan="42">
            <p class="key">Notes</p>
            <p id="notes">{{ device["notes"] }}</p>
          </td>
        </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="42">
          <a href="/delete/device/{{ device['dev_id'] }}" title="Delete Device #{{ device['dev_id'] }}">
            <img src="/static/pictures/edit/delete_circle.png" id="del_pic"
              alt="Delete Device #{{ device['dev_id'] }}" class="delete_pic">
          </a>
          Entry last updated by {{ device["update_user"] }} at {{ device["update_time"] }}&nbsp;&nbsp;
          <a href="/update/device/{{ device['dev_id'] }}" title="Update Device">
            <img src="/static/pictures/edit/edit_pencil.png" alt="Edit Device" title="Edit Device" class="edit_pic">
          </a>
        </td>
      </tr>
    </tfoot>
  </table>
{% else %}
  <h2>No device exists with this id.</h2>
{% endif %}
<script src="/static/js/devices/notes_break.js"></script>
{% endblock %}
