{% extends "base.html" %}
{% block content %}
<table class="config_table">
  <thead class="table_head">
    <tr>
      <th>
        <a href="/view/domains/all/?sort=domain.name">Domain</a>
        <a href="/add/domain/new/">
          <img src="/static/pictures/edit/add_circle.png" alt="Add Domain" title="Add Domain" class="edit_pic">
        </a>
      </th>
      <th><a href="/view/domains/all/?sort=domain.descript">Description</a></th>
      <th><a href="/view/domains/all/?sort=domain.notes">Notes</a></th>
    </tr>
  </thead>
  <tbody class="all_domains">
    {% for domain in domains %}
      <tr>
        <td>
          <a href="/view/domains/single/{{ domain['id'] }}">{{ domain["name"] }}</a>
          <a href="/delete/domain/{{ domain['id'] }}" title="Delete Domain #{{ domain['id'] }}">
            <img src="/static/pictures/edit/delete_circle.png" id="del_pic" class="edit_pic"
              alt="Delete Domain #{{ domain['id'] }}">
          </a>
          <a href="/update/domain/{{ domain['id'] }}">
            <img src="/static/pictures/edit/edit_pencil.png" alt="Edit Domain" title="Edit Domain" class="edit_pic">
          </a>
        </td>
        {% if domain["descript"] %}
          <td>{{ domain["descript"] }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
        {% if domain["notes"] %}
          <td>{{ domain["notes"] }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot class="table_footer">
    <tr>
      <td colspan="42">Showing {{ domains_len }} of {{ domains_len }} domains.</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
