{% extends "base.html" %}
{% block content %}
<table id="rack_table" class="all_list">
  <thead class="table_head">
    <tr>
      <th>
        <a href="/view/racks/all/?sort=rack.name">Rack</a>
        <a href="/add/rack/new/">
          <img src="/static/pictures/edit/add_circle.png" alt="Add Rack" title="Add Rack"
            class="edit_pic">
        </a>
      </th>
      <th><a href="/view/racks/all/?sort=device_count">Layout</a></th>
      <th><a href="/view/racks/all/?sort=row.name">Row</a></th>
      <th><a href="/view/racks/all/?sort=room.name">Room</a></th>
      <th><a href="/view/racks/all/?sort=rack.size">Size (U)</a></th>
      <th><a href="/view/racks/all/?sort=free_space">Free (U)</a></th>
      <th><a href="/view/racks/all/?sort=rack.notes">Notes</a></th>
      <th><input type="checkbox" checked="true" selected id="select_all" name="select_all"></th>
    </tr>
  </thead>
  <tbody  class="all_racks">
    {% for rack in racks %}
      <tr>
        <td>
          <a href="/view/racks/one/normal/{{ rack['id'] }}">{{ rack["name"] }}</a>
          <a href="/delete/rack/{{ rack['id'] }}">
            <img src="/static/pictures/edit/delete_circle.png" id="del_pic" class="edit_pic"
              alt="Delete Rack #{{ rack['id'] }}" title="Delete Rack #{{ rack['id'] }}">
          </a>
          <a href="/update/rack/{{ rack['id'] }}">
            <img src="/static/pictures/edit/edit_pencil.png" alt="Edit Rack" title="Edit Rack" class="edit_pic">
          </a>
        </td>
        <td>{{ rack["device_count"] }} Devices</td>
        {% if not rack["row"] or rack["row"] == "-" %}
          <td>N/A</td>
        {% else %}
          <td>{{ rack["row"] }}</td>
        {% endif %}
        <td>{{ rack["room_name"] }} in {{ rack ["building"] }}</td>
        <td>{{ rack["size"] }}</td>
        <td>{{ rack["free_space"] }}</td>
        {% if rack["notes"] %}
          <td title="{{ rack['notes'] }}">{{ rack["notes"][:22] }}...</td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td>
          <input type="checkbox" name="{{ rack['id'] }}" value="{{ rack['id'] }}">
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot class="table_footer">
    <tr>
      <td colspan="42">Showing {{ lenRacks }} of {{ lenRacks }} racks.</td>
    </tr>
  </tfoot>
</table>
<input disabled type="button" name="view_sel_racks" id="view_sel_racks" value="View Selected Racks">
<br>
<script src="/static/js/racks/select.js"></script>
{% endblock %}
