{% extends "base.html" %}
{% block content %}
<table class="config_table">
  <thead class="table_head">
    <tr>
      <th>
        <a href="/view/buildings/all/?sort=building.name">Building</a>
        <a href="/add/building/new/">
          <img src="/static/pictures/edit/add_circle.png" alt="Add Building" title="Add Building" class="edit_pic">
        </a>
      </th>
      <th><a href="/view/buildings/all/?sort=building.name_short">Description</a></th>
      <th><a href="/view/buildings/all/?sort=building.notes">Notes</a></th>
    </tr>
  </thead>
  <tbody class="all_buildings">
    {% for building in buildings %}
      <tr>
        <td>
          <a href="/view/buildings/single/{{ building['id'] }}">{{ building["name"] }}</a>
          <a href="/delete/building/{{ building['id'] }}" title="Delete Building #{{ building['id'] }}">
            <img src="/static/pictures/edit/delete_circle.png" id="del_pic" class="edit_pic"
              alt="Delete Building #{{ building['id'] }}">
          </a>
          <a href="/update/building/{{ building['id'] }}">
            <img src="/static/pictures/edit/edit_pencil.png" alt="Edit Building" title="Edit Building" class="edit_pic">
          </a>
        </td>
        {% if building["name_short"] %}
          <td>{{ building["name_short"] }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
        {% if building["notes"] %}
          <td>{{ building["notes"] }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot class="table_footer">
    <tr>
      <td colspan="42">Showing {{ buildings_len }} of {{ buildings_len }} buildings.</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
